body {  
    background-repeat: no-repeat, repeat;  
    background-position: center;  
    background-size: cover;  
    padding-top: 0px;  
  }  
  .login-form {  
    background:rgb(52, 99, 117);  
    margin-top: 20px;  
    margin-bottom: 50px;
    margin-left: 70px;
    margin-right: 70px;  
    padding: 100px;  
    border-radius: 50px;  
    color: white;  
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);  
  }  
  .login-heading {  
    text-align: center;  
    margin-top: 20px;  
  }  
  .btn-primary {  
    width: 100%;  
  }  
  /* .abc{
    text-align: center;
  }
  a:link {
    color: green;
     background-color: transparent; 
    text-decoration: none;
  }
  a:hover {
    color: hotpink;
    background-color: transparent;
    text-decoration: underline;
  } */