<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Chatboat</title>
    </head>
    <body>
        <div id="main">
            <h2>ChatBot {{test}}</h2>
            <div id="msg_area">
                <div id="robot" >
                    <h3><b>Welcome to ChatBot</b></h3>
                </div>
            
                <div id="left" *ngFor="let d of department">
                    <button (click)="getQuery(d)" type="button" class="btn info"><b>{{d}}</b></button>
                </div>
                <div id="right">
                   <p><b>{{dep}}</b></p>
                </div>
                <div id="left" *ngFor="let q of Queries">
                    <button (click)="getDescription(q)" type="button" class="btn info"><b>{{q}}</b></button>
                </div>
                <div id="right">
                    <p><b>{{que}}</b></p>
                </div>
                <div >
                    <p id="new" align="justify"><b>{{descriptions}}</b></p>
                </div>
                <div id="right">
                    <p><b>{{abc}}</b></p>
                </div>
                <div id="right">
                    <button (click)="getDept()" type="button" class="btn info">{{yes}}</button>
                    <button type="button" class="btn info">{{no}}</button>
                </div>
                <div>
                    <p>{{dept}}</p>
                </div>
                




                <!-- <div id="demo">
                    <p *ngFor="let d of department"></p>
                    <button (click)="getDescription(q)" type="button" class="btn info">{{d}}</button>
                </div> -->
                
                <!-- (click)="getDescription(dd)" -->
                <!-- *ngFor="let dd of descriptions" -->
            
            </div>
            <div id="input">
                
                <button id="send">Send<i  class="fa fa-paper-plane"></i></button>
            </div>
            
            </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.0/axios.min.js" integrity="sha512-OdkysyYNjK4CZHgB+dkw9xQp66hZ9TLqmS2vXaBrftfyJeduVhyy1cOfoxiKdi4/bfgpco6REu6Rb+V2oVIRWg==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    </body>
    <script>
        document.getElementById('send').onclick=function(){
            animate0(0);
        }
    </script>
</html>